.lead__title {
  max-width: calc(100% - 296px);
  margin: 0 auto 0;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}
/*1024*/
@media screen and (max-width: 1279px) {
    .lead__title {
        max-width: calc(100% - 208px);
    }
}
/*768*/
@media screen and (max-width: 1023px) {
  .lead__title {
    max-width: 100%;
    margin: 0 24px;
  }
}
/*320*/
@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 100%;
    margin: 48px auto 0;
    font-style: normal;
    font-size: 40px;
    line-height: 44px;
  }
}
