.lead__title {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Inter';
    margin: 0 132px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

@media screen and (max-width: 320px) {
    .lead__title {
        width: 288px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    }
    
}