.intro__text {
  color: #ffffff;
  max-width: 690px;
  margin: 40px 0 33px;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}
/*768*/
@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 100%;
  }
}
/*320*/
@media screen and (max-width: 767px) {
  .intro__text {
    width: calc(100vw - 32px);
    margin-bottom: 34px;
  }
}
