.footer {
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 92px 0 24px;
  box-sizing: border-box;
  margin: 0 auto;
}

/*768*/
@media screen and (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px;
  }
}
/*320*/
@media screen and (max-width: 767px) {
  .footer {
    max-width: 100%;
    flex-direction: column;
    padding: 64px 16px 24px;
  }
}
