.place__website {
  font-family: "Inter", "Arial", sans-serif;
  align-self: self-end;
}
/*320*/
@media screen and (max-width: 767px) {
  .place__website {
    max-width: 288px;
    margin: 0 16px 0;
  }
}
